/*Htm*/
html{
  scroll-behavior: smooth;
}
/*Html END*/

/*Body*/
body{
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
/*Body END*/

*, *::after, *::before {
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

::selection
{
    background: rgb(141, 141, 141);
    color: #000;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #141414;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.maintext h2{
  color: #141414;
  font: 8.2rem/0.85 "Montserrat", sans-serif;
  position: fixed;
  top: 40%;
  width: 35%;
  right: 630px;
  text-align:center;
  transform: translate(-50%, -50%);
  margin: -1.5rem auto;
  -webkit-transform: scaleX(1.05);
  transform: scaleX(1.05);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #141414;
  text-transform: uppercase;
  font-weight: 900;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  margin-left: 300px;
}
.maintext h2:hover{
  cursor: pointer;
  -webkit-text-fill-color: #141414;
  transition: all 0.4s cubic-bezier(0.20, 1, 0.25, 4);
  -webkit-text-stroke-width: 3px;
  transform: scaleX(1);
  -webkit-text-stroke-color: #141414;
  position: absolute;
}

#down a {
  padding-top: 60px;
}
#down a span {
  position: absolute;
  margin-top: 700px;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  box-sizing: border-box;
}
#down a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #141414;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



#loading-page {
  background-color: #141411;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #4e4e4e;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
